[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
google-cloud-firestore = "*"
firebase-admin = "*"
pydantic = "*"
python-dotenv = "*"
grpcio = "*"
grpcio-tools = "*"


[dev-packages]


